@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --color-call-to-action: #741384;
  --color-background-dark: #453E69;
  --color-background-light: #BB8FCE;

  --font-size-text: 1rem;

  --font-family-text: 'Lato', sans-serif;

  --font-weight-bold: 600;
}

.form-input {
  width: 100%;
  padding: .5rem;
  outline: none;
  border-radius: 5px;
  border-color: var(--color-background-dark);
  border-width: 1px;
  text-align: left;
  background-color: #E8DAEF;
  color: var(--color-background-dark);
  font-family: var(--font-family-text);
  font-size: var(--font-size-text);
}

.form-button {
  cursor: pointer;
  padding: .5rem 1rem;
  border-radius: 5px;
  border-style: none;
  font-family: 'Lato', sans-serif;
  font-weight: var(--font-weight-bold);
  background-color: var(--color-background-light);
  color: var(--color-call-to-action);
  box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, .2);
  text-decoration: none;
  width: 80%;
}

.form-button:visited {
  color: var(--color-call-to-action);
}

@media (max-width: 52.5rem) {
  .form-button {
    margin-top: 2rem;
  }
}