@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --color-selected: #D7BDE2;
  --color-background-dark: #453E69;
  --color-background-light: #BB8FCE;
  --color-background-lighter: #E8DAEF;

  --font-family-title: 'Lobster', cursive;
  --font-family-text: 'Lato', sans-serif;

  --font-size-nav-title: 2.6rem;
  --font-size-nav-text: .9rem;
  --font-size-title: 3rem;
  --font-size-text: 1rem;
  --font-size-text-timer: 1.4rem;
  --font-size-tiny-text: .75rem;
  
  --font-weight-regular: 500;
  --font-weight-bold: 600;
  
  --line-height-title: 1;
  --line-height-text: 1.4;
  
  --gap-standard: 8%;
  --gap-form: 2%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: var(--line-height-text);
  font-size: var(--font-size-text);
  font-family: var(--font-family-text);
  background-color: var(--color-background-dark);
}

h1,
h2 {
  line-height: var(--line-height-title);
  font-size: var(--font-size-title);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-regular);
  padding-block: 1rem;
}

button {
  border-style: none;
  background: none;
  outline: none;
}

button:active {
  box-shadow: none;
}

img {
  max-width: 100%;
}

/* Top navigation bar */

.nav-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  color: var(--color-background-lighter);
  font-size: var(--font-size-nav-text);
}

.inner-nav-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
}

.nav-container__title {
  position: absolute;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: 0.5s;
  font-size: var(--font-size-nav-title);
  width: fit-content;
}

/* Left navigation bar */

.hamburguer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: 15;
  top: 1.25rem;
  left: 1.25rem;
  width: 2rem;
  height: 2.5rem;
  transition: 0.5s;
}

.hamburguer-close {
  top: 1rem;
  left: 16.25rem;
}

.hamburguer-line {
  width: 1.3rem;
  border: .01rem solid var(--color-background-lighter);
  background-color: var(--color-background-lighter);
  margin: .1rem 0;
  transition: 0.5s;
}

.close-button--up-line {
  position: absolute;
  width: 1rem;
  border: .01rem solid var(--color-background-dark);
  background-color: var(--color-background-dark);
  transform: rotate(45deg);
}

.close-button--down-line {
  position: absolute;
  width: 1rem;
  border: .01rem solid var(--color-background-dark);
  background-color: var(--color-background-dark);
  transform: rotate(135deg);
}

.left-side-nav-container {
  position: fixed;
  z-index: 10;
  left: -19.25rem;
  width: 19.25rem;
  height: 100vh;
  background-color: var(--color-background-light);
  color: var(--color-background-dark);
  font-weight: var(--font-weight-bold);
  transition: 0.5s;
}

.left-side-nav-container--open {
  left: 0;
  box-shadow: 1rem 0 1rem .1rem rgba(0, 0, 0, .2);
}

.left-side-nav-options {
  position: relative;
  top: 5rem;
  left: 1rem;
}

.left-side-nav--option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  margin-bottom: .5rem;
  width: 17.25rem;
  border-radius: .3125rem;
  list-style: none;
  transition: .5s;
}

.left-side-nav--option:hover {
  background-color: var(--color-selected);
}

.left-side-nav--option-img {
  margin-right: 1rem;
}

/* Central content area in main page */

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

.inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 5vw;
  width: 90vw;
  height: 80vh;
  overflow: hidden;
  box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, .2);
}

.inner-container--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-standard);
  width: 75%;
  height: 75%;
}

.inner-container--central-content {
  display: flex;
  flex-direction: row;
  gap: var(--gap-standard);
  flex: 2;
  height: 100%;
}

.central-content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-standard);
  flex: 2;
  height: 100%;
  text-align: center;
  padding: 0 0 3%;
}

/* Timer properties */

.timer {
  width: 15rem;
  color: var(--color-background-dark);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-text-timer);
}

.timer__options {
  display: flex;
  width: 70%;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
  background-color: var(--color-background-lighter);
}

.timer__options--item {
  width: 100%;
  padding: 5%;
  transition: 0.5s;
}

.timer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.9rem;
  border-radius: 0 1rem 1rem;
  box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, .2);
  background-color: var(--color-background-light);
}

.timer__content--item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  width: 100%;
}

.timer-input {
  outline: none;
  text-align: center;
  border-radius: 10px;
  border-style: none;
  padding: .5rem;
  width: calc(var(--font-size-text-timer) * 2);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-text-timer);
  font-family: var(--font-family-text);
  color: var(--color-background-dark);
  background-color: var(--color-selected);
  caret-color: var(--color-background-dark);
}

.timer-colon {
  margin: 0 .01rem;
}

/* Additional style properties */

.dark-page {
  background-color: var(--color-background-dark);
  color: var(--color-background-lighter);
}

.light-page {
  background-color: var(--color-background-lighter);
  color: var(--color-background-dark);
}

.selected {
  background-color: var(--color-selected);
}

.clickable {
  cursor: pointer;
}

.dark-border {
  border-color: var(--color-background-dark);
}

.light-border {
  border-color: var(--color-background-lighter);
}

.content-highlight {
  font-weight: var(--font-weight-bold);
}

.red-highlight {
  color: red;
}

.division {
  width: .1rem;
  height: 100%;
  background-color: var(--color-selected);
}

.arrow-right {
  width: 1rem;
  height: 1rem;
  border-right: .1rem solid;
  border-top: .1rem solid;
  transform: rotate(45deg);
}

.arrow-left {
  width: 1rem;
  height: 1rem;
  border-left: .1rem solid;
  border-top: .1rem solid;
  transform: rotate(-45deg);
}

.centralize {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-margin {
  margin-top: var(--gap-form);
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.hide-in-desktop {
  display: none;
}

.hide-in-mobile {
  display: block;
}

.tiny-text {
  font-size: var(--font-size-tiny-text);
}

.content-topics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  /* list-style: url("../sources/listindicator.svg"); */
  list-style-position: outside;
  text-align: left;
}

.content-topics__item {
  margin-bottom: 2%;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 52.5rem) {
  :root {
    --font-size-nav-title: 1.65rem;
    --font-size-title: 1.75rem;
    --font-size-text-timer: 1.3rem;
    --font-size-text: 0.95rem;
  }
  
  img {
    max-width: 70%;
  }

  .nav-container {
    position: fixed;
    box-shadow: none;
    transition: 0.5s;
    height: 3.3rem;
  }

  .hamburguer {
    top: 0;
    left: 0;
    width: 3.3rem;
    height: 3.3rem;
  }
  
  .hamburguer-close {
    top: 0;
    left: 16.25rem;
  }

  .container {
    flex-direction: column;
    height: fit-content;
    overflow-y: auto;
  }

  .inner-container {
    width: 100vw;
    height: fit-content;
    margin: 0;
    padding: 15% 0;
    box-shadow: none;
  }

  .inner-container--central-content {
    flex-direction: column;
  }
  
  .timer {
    margin: 2rem;
    width: 11rem;
  }

  .timer__options {
    width: 100%;
  }

  .timer__content {
    border-radius: 0 0 1rem 1rem;
  }

  .arrow-right,
  .arrow-left {
    display: none;
  }

  .top-margin {
    margin-top: var(--gap-standard);
  }

  .box-shadow {
    box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, .2);
  }

  .division {
    width: 100%;
    height: .1rem;
    margin-bottom: 1rem;
  }

  .hide-in-desktop {
    display: block;
  }

  .hide-in-mobile {
    display: none;
  }
}
