@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --color-background-dark: #453E69;
  --color-background-light: #BB8FCE;
  --color-background-lighter: #E8DAEF;
  
  --font-family-text: 'Lato', sans-serif;
  
  --font-size-list-title: 1.5rem;
  --font-size-text: 0.95rem;
  --font-size-tiny-text: .75rem;
  
  --font-weight-regular: 500;
  --font-weight-bold: 600;
  
  --line-height-title: 1;
  --line-height-text: 1.4;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: fit-content;
  width: 75%;
  margin-block: 1.5rem;
  padding: 1rem;
  border-radius: 0.3125rem;
  background-color: var(--color-background-lighter);
  opacity: 1;
  transition: .5s;
}

.list-item__section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-family: var(--font-family-text);
  color: var(--color-background-dark);
}

.list-item__title {
  font-size: var(--font-size-list-title);
  font-weight: var(--font-weight-bold);
  height: var(--line-height-title);
}

.list-item__description {
  font-size: var(--font-size-tiny-text);
  font-weight: var(--font-weight-regular);
  height: var(--line-height-text);
}

.list-item__time {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-bold);
}

.list-item__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.75rem;
  width: 100%;
}

.list-item--left {
  justify-content: flex-start;
}

.fill-three-quarters {
  width: 75%;
}

.hide-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}