:root {
  --color-background-shadow: rgba(0, 0, 0, .2);
}

.manager-container {
  position: fixed;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-shadow);
  animation: modal-presentation .5s;
  transition: .5s;
}

.manager__body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: 43rem;
  height: 100%;
}

.manager__items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-block-end: 1.5rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

@keyframes modal-presentation {
  from {
    opacity: 0; 
    visibility: hidden; 
  }

  to {
    opacity: 1; 
    visibility: visible; 
  }
}